
body {
  color: white
}

h3 {
  color: white
}
p {
  color: white
}
div {
  color: white
}
.font{
  color: white
}
@media (max-width: 480px) {
  .navbar {
    padding: 10px;
    color: white
  }

  .responsive-image {
    height: auto;
    width: 100%;
  }
